<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>
<p>
  <b>App:</b>
  <%= @team.app %>
</p>
<p>
  <b>Users:</b>
  <% if @team.users.exists? %>
  	<% @team.users.each do |user| %>
    	<td><%= user.email %></td>
    <% end %>
    <% else %>
		<td><%= "N/A" %></td>	
	<% end %>
</p>





<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
