<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @meeting.day %>
</p>

<p>
  <b>Date:</b>
  <%= @meeting.date %>
</p>

<p>
 <b>xcoordinate:</b>
 <%= @meeting.xcoordinate %>
</p>

<p>
 <b>ycoordinate:</b>
 <%= @meeting.ycoordinate %>
</p>

<p>
  <b>Food:</b>
  <%= @meeting.food %>
</p>

<p>
  <b>Speaker:</b>
  <%= @meeting.speaker %>
</p>

<p>
  <b>Speaker name:</b>
  <%= @meeting.speaker_name %>
</p>

<p>
  <b>Topic:</b>
  <%= @meeting.topic %>
</p>

<p>
  <b>Description:</b>
  <%= @meeting.description %>
</p>

<p>
  <b>Users:</b>
  <% if @meeting.users.exists? %>
  	<% @meeting.users.each do |user| %>
    	<td><%= user.email %></td>
    <% end %>
    <% else %>
		<td><%= "N/A" %></td>	
	<% end %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
