<h1>Listing apps</h1>

<table>
  <tr>
  	<th>Team</th>
    <th>Name</th>
    <th>OS</th>
    <th>Tagline</th>
    <th>Description</th>
    <th>ImageURL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <% if app.team %>
    	<td><%= app.team.name %></td>
    <% else %>
    	<td><%= "N/A" %></td>
    <% end %>
    <td><%= app.name %></td>
    <td><%= app.os %></td>
    <td><%= app.tagline %></td>
    <td><%= app.description %></td>
    <td><%= app.image_url %></td>
    <td><%= link_to 'Show', app %></td>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App', new_app_path %>
