<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>OS:</b>
  <%= @app.os %>
</p>

<p>
  <b>Tagline:</b>
  <%= @app.tagline %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>


<p>
  <b>Image URL:</b>
  <%= @app.image_url %>
</p>

<p>
  <b>App URL:</b>
  <%= @app.app_url %>
</p>

<p>
  <b>Repo URL:</b>
  <%= @app.repo_url %>
</p>




<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
